*{
    padding: 0%;
    margin: 0%;
}

header{
    background-color: red;
    height: 40px;
    display: flex;
     flex-direction: row-reverse; 
     padding-top:15px;
     padding-bottom: 5px;
     
 }

 a:hover{
     background-color: #45567d;
     
 }

 .nav-link{
     color: #f0f0f0;
     text-decoration: inherit;  
     padding: 30px 20px 28px 5px;
 }
 .H1Presentation{
     color: white;
 }
 .PPresentation{
     color:red;
 }

#Presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #303841;
}

#PSites{
    background-color: blue;
}
footer{
    background-color: grey;
    height: 100px;
}

#BBox{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 100%;
}
.img{
    width: 150px;
}